# DATASET CREATION

In [1]:
#!pip install Faker
from faker import Faker
F = Faker()

In [2]:
#STUDENT TABLE
'''
student_id (Primary Key): Unique identifier for each student.
● name: Full name of the student.
● age: Age of the student.
● gender: Gender of the student (e.g., Male, Female, Other).
● email: Email address of the student.
● phone: Contact number of the student.
● enrollment_year: Year when the student enrolled in the course.
● course_batch: Name of the batch or cohort the student belongs to.
● graduation_year: Expected or actual graduation year for the student.
● CGPA: CGPA out of 10.
● Attandance: Attandance in %.
'''
import pandas as pd

data =[]
col = ["Student_ID","Name","Age","Gender","Email","Phone","Enrollment_year","Course_Batch","Graduation_Year", "CGPA","Attandance"]
import random
for i in range(1,5120):
    Student_ID = i
    Name = F.name()
    Age = random.randint(22,35)
    Gender = random.choice(['Male','Female'])
    Email = F.email()
    Phone= F.phone_number()
    Enrollment_year = random.randint(2023,2025)
    Course_Batch = random.choice(['Weekday','Weekend'])
    Graduation_Year = random.randint(2018,2025)
    CGPA = round(random.uniform(4.5,10.0),2)
    Attandance = random.randint(60,100)
    data.append([Student_ID,Name , Age, Gender,Email,Phone,Enrollment_year,Course_Batch,Graduation_Year, CGPA,Attandance])
Students_Table = pd.DataFrame(data, columns = col)

Students_Table.head(25)

,Student_ID,Name,Age,Gender,Email,Phone,Enrollment_year,Course_Batch,Graduation_Year,CGPA,Attandance
0,1,Lori Moore,28,Female,lramirez@example.org,885-990-8265,2024,Weekend,2018,9.34,62
1,2,Kimberly Greene,29,Male,michellewheeler@example.com,001-517-549-7596x8050,2025,Weekday,2020,7.19,93
2,3,Erica Foster,30,Male,timothy61@example.com,001-929-204-0348x88095,2025,Weekend,2021,4.95,96
3,4,Kelsey Stafford,22,Female,danielskevin@example.net,331.214.9364,2025,Weekday,2025,5.75,86
4,5,Emily Armstrong,22,Male,romerodavid@example.com,984-360-4509x291,2023,Weekend,2024,9.81,72
5,6,Thomas Patterson,23,Male,pachecologan@example.com,+1-497-234-2965x3056,2025,Weekend,2018,9.76,70
6,7,Isabella Lambert,32,Female,johnmiller@example.org,001-234-401-3418x993,2023,Weekday,2023,7.86,79
7,8,Katrina Nelson,25,Male,nperez@example.org,(696)608-8800x388,2023,Weekday,2025,6.05,70
8,9,Jeffrey Harper,35,Female,nguyenalan@example.org,3952458926,2025,Weekday,2020,9.20,76
9,10,Amber Sloan,23,Male,michaelthomas@example.net,001-701-485-9264x25475,2023,Weekday,2021,4.83,79
10,11,Jeffrey Becker,23,Female,hartcarol@example.net,001-279-625-4023x0053,2024,Weekday,2021,9.26,90
11,12,Laura Willis,32,Female,troy27@example.net,001-269-582-4989x54835,2024,Weekend,2021,4.57,75
12,13,David Briggs,22,Female,annebanks@example.org,494-384-6655x663,2025,Weekend,2018,9.27,83
13,14,Lisa Elliott,26,Male,fullernathan@example.org,880.463.2525x178,2023,Weekend,2018,8.57,78
14,15,Kevin Sullivan,35,Female,mitchellsanders@example.org,(876)468-6928,2023,Weekday,2018,9.97,79
15,16,Robert Bell,23,Female,brandywhite@example.org,949-800-2458x603,2025,Weekday,2025,7.06,97
16,17,Elizabeth Shannon,33,Male,willie17@example.net,+1-705-722-6218x401,2023,Weekend,2019,9.52,72
17,18,Katie Pena,27,Male,patelkaren@example.net,001-374-922-8040,2024,Weekday,2024,6.21,84
18,19,Michael Cooley,33,Female,melissamurray@example.net,(741)326-4116x584,2023,Weekday,2020,7.02,96
19,20,Nicholas Donaldson,27,Male,davisgreg@example.org,414-370-6902x78404,2025,Weekend,2022,7.82,63
20,21,Michael Parsons,29,Female,virginiadean@example.org,+1-626-673-6399,2025,Weekend,2025,7.25,65
21,22,Katie Turner,35,Female,harrisnathan@example.com,795.906.7620x45698,2025,Weekday,2019,6.67,74
22,23,Michele Robbins,24,Male,kristenmills@example.net,(445)487-9582x24785,2024,Weekday,2019,8.97,64
23,24,Kelly Mckinney,26,Female,wallacecristian@example.net,(530)327-2296x615,2024,Weekday,2023,6.59,73
24,25,Bob Collins,35,Male,robinsontimothy@example.net,(583)874-3678x619,2024,Weekend,2021,9.20,63

In [3]:
#PROGRAMMING TABLE
'''This table stores details of students' programming performance in the course.
● programming_id (Primary Key): Unique identifier for each programming
record.
● student_id (Foreign Key): References the student_id in the Students
Table.
● language: Programming language being evaluated (e.g., Python, SQL).
● problems_solved: Total number of coding problems solved by the student.
● assessments_completed: Number of assessments completed by the student.
● mini_projects: Number of mini projects submitted by the student.
● quiz score: Average Marks obtained in all the quizzes.'''

col1 = ["Programming_ID","Student_ID","Language","Problems_solved","Assessments_completed",
       "Mini_Projects", "Quiz_Score"]
data = []
for i in range(1,5120):
    Programming_ID = F.uuid4()
    Student_ID = i
    Language = random.choice(['Python','SQL','Java','C++'])
    Problems_solved = random.randint(180, 500)
    Assessments_completed = random.randint(1,10)
    Mini_Projects = random.randint(1,5)
    Quiz_Score = round(random.uniform(5.5,10.0),2)
    data.append([Programming_ID,Student_ID,Language,Problems_solved,Assessments_completed,Mini_Projects, Quiz_Score])

Programming_Table =pd.DataFrame(data, columns = col1) 
    
Programming_Table.head(25)

,Programming_ID,Student_ID,Language,Problems_solved,Assessments_completed,Mini_Projects,Quiz_Score
0,d80aa000-d485-4f7b-9aad-9de8796929fe,1,C++,252,7,3,8.93
1,d47cb71b-c275-4c3b-b73e-ea69185e0c42,2,Python,486,4,3,9.59
2,818484d4-4e34-4ce5-84ac-de1b134504c2,3,SQL,219,10,4,6.30
3,7070bb0a-e8e3-4458-8ae6-5da85d2ec6e4,4,SQL,461,8,3,8.12
4,193f617a-a5cf-41ae-9825-275cb229f61e,5,C++,235,9,3,6.08
5,b258d16e-d311-4112-98ff-d5cfe6600184,6,C++,385,2,1,7.92
6,5e6dd8ae-7601-44b1-95a9-12983ca06182,7,Python,380,5,3,7.94
7,b190ce3e-dc18-457c-9a7e-7f1915279937,8,Python,248,2,4,7.37
8,7a96eab1-cf93-4f67-83c3-05434965419b,9,C++,194,1,2,9.93
9,c6e09c2d-77cb-49de-bd04-3a26428efb97,10,SQL,402,1,2,8.16
10,0723ffd6-b294-4aec-8303-c179b0863643,11,Java,453,2,4,9.65
11,40a710d4-cf03-41b4-9e0a-ab2c65c0bf93,12,C++,325,3,3,9.74
12,ed7f5138-f11e-4997-9112-8815144cab7e,13,Python,456,5,4,8.84
13,3075dcab-f0be-4066-ae26-21986cb9c81f,14,Python,305,8,4,6.17
14,10e41316-0b16-4615-9338-c3a40980223e,15,SQL,222,10,5,7.50
15,2c61024c-762e-437d-b683-be2345ac5fdf,16,Python,390,8,2,6.75
16,10426945-b05a-4303-93ef-d55e8ca4356c,17,C++,261,2,3,6.49
17,0f216ca5-2991-487b-bfa8-feb98bc0d526,18,C++,441,4,3,9.56
18,af5681e1-0ca1-4703-af7e-6b322137ae58,19,Python,422,6,1,7.51
19,6ec0bf47-aa04-4ea0-8f34-ec62f0034837,20,SQL,330,7,5,8.84
20,0d64fe6c-1156-4a80-87d2-2de54c671a22,21,Java,202,8,2,9.98
21,bd381420-42ed-4d63-adde-b8bc1c994885,22,C++,452,8,3,6.32
22,47563f0d-aa35-44be-b4da-d7c3ba0f7052,23,Python,199,2,5,6.74
23,16643379-7c3e-4896-9863-476d29b3c3ed,24,SQL,439,8,1,8.92
24,bc34bbae-8346-46bd-881f-e6723e973ee9,25,Python,249,3,2,6.78

In [4]:
#Soft Skills Table
'''This table stores data on students' performance in soft skills evaluations.
● soft_skill_id (Primary Key): Unique identifier for each soft skill record.
● student_id (Foreign Key): References the student_id in the Students
Table.
● communication: Communication skills score (out of 100).
● teamwork: Teamwork skills score (out of 100).
● presentation: Presentation skills score (out of 100).
● leadership: Leadership skills score (out of 100).
● critical_thinking: Critical thinking skills score (out of 100).
● interpersonal_skills: Interpersonal skills score (out of 100).'''

col2 = ["Soft_Skill_ID","Student_ID","Communication","Team_Work","Presentation","Leadership",
        "Critical_Thinking","Interpersonal_Skills"]
data=[]
for i in range(1,5120):
    Soft_Skill_ID = f"SS_{i:04d}"
    Student_ID = i
    Communication = random.randint(70,100)
    Team_Work = random.randint(50,100)
    Presentation = random.randint(60,100)
    Leadership = random.randint(70,100) 
    Critical_Thinking = random.randint(60,100)
    Interpersonal_Skills = random.randint(60,100)
    data.append([Soft_Skill_ID,Student_ID,Communication,Team_Work,Presentation,Leadership,
        Critical_Thinking,Interpersonal_Skills])

Soft_Skills_Table = pd.DataFrame(data, columns=col2)
Soft_Skills_Table.head(25)

,Soft_Skill_ID,Student_ID,Communication,Team_Work,Presentation,Leadership,Critical_Thinking,Interpersonal_Skills
0,SS_0001,1,75,90,93,82,67,84
1,SS_0002,2,84,100,63,92,70,66
2,SS_0003,3,71,62,81,74,68,74
3,SS_0004,4,87,79,99,75,81,89
4,SS_0005,5,99,84,74,74,84,68
5,SS_0006,6,96,65,92,73,86,86
6,SS_0007,7,87,62,86,71,94,96
7,SS_0008,8,80,68,88,79,85,96
8,SS_0009,9,92,57,98,70,78,77
9,SS_0010,10,79,82,63,85,86,66
10,SS_0011,11,93,74,79,82,86,89
11,SS_0012,12,79,53,91,71,76,65
12,SS_0013,13,78,80,83,91,69,66
13,SS_0014,14,96,87,75,99,82,72
14,SS_0015,15,93,86,84,99,93,64
15,SS_0016,16,100,70,63,79,62,63
16,SS_0017,17,95,64,79,74,95,64
17,SS_0018,18,92,77,95,80,98,96
18,SS_0019,19,71,77,95,74,86,65
19,SS_0020,20,70,91,78,92,68,87
20,SS_0021,21,83,82,75,86,79,90
21,SS_0022,22,90,51,96,72,62,61
22,SS_0023,23,88,59,84,98,85,90
23,SS_0024,24,86,75,75,93,61,68
24,SS_0025,25,90,96,96,70,74,92

In [5]:
#Placements Table
'''This table stores details related to students’ placement readiness and outcomes.
● placement_id (Primary Key): Unique identifier for each placement record.
● student_id (Foreign Key): References the student_id in the Students
Table.
● mock_interview_score: Score in the mock interviews (out of 100).
● internships_completed: Total number of internships completed by the student.
● placement_status: Placement status (e.g., Unplaced, Placed).
● company_name: Name of the company where the student got placed (if
applicable)
● placement_package: Package offered during placement (in USD or local
currency).
● interview_rounds_cleared: Number of interview rounds cleared by the
student.
● placement_date: Date when the placement offer was receive'''

col3 = ["Placement_ID", "Student_ID", "Mock_Interview_Score", "Internships_Completed",
        "Placement_Status", "Company_Name", "Placement_Package_INR_LPA", 
        "Inteview_rounds_cleared", "Placement_date"]

data = []

for i in range(1, 5120):
    Placement_ID = f"PP_{i:04d}"
    Student_ID = i
    Mock_Interview_Score = random.randint(60, 100)
    Internships_Completed = random.randint(0, 2)
    Placement_Status = random.choice(['Placed', 'Unplaced'])
    
    if Placement_Status == 'Placed':
        Company_Name = F.company()
        Placement_Package_INR_LPA = round(random.uniform(3.5, 18.0), 2)
        Placement_Date = F.date_between(start_date='-1y', end_date='today')  

    else:
        Company_Name = "Not Applicable"
        Placement_Package_INR_LPA = "Not Applicable"
        Placement_Date = "Not Applicable"
        
    Interview_Rounds_Cleared = random.randint(0, 5)
    
    data.append([Placement_ID, Student_ID, Mock_Interview_Score, Internships_Completed,
                 Placement_Status, Company_Name, Placement_Package_INR_LPA,
                 Interview_Rounds_Cleared, Placement_Date])

Placements_Table = pd.DataFrame(data, columns=col3)

Placements_Table.head(25)

,Placement_ID,Student_ID,Mock_Interview_Score,Internships_Completed,Placement_Status,Company_Name,Placement_Package_INR_LPA,Inteview_rounds_cleared,Placement_date
0,PP_0001,1,68,0,Placed,Stone-Perez,7.45,2,2025-01-25
1,PP_0002,2,94,1,Unplaced,Not Applicable,Not Applicable,4,Not Applicable
2,PP_0003,3,67,1,Placed,Payne-Medina,11.22,4,2025-02-14
3,PP_0004,4,98,0,Unplaced,Not Applicable,Not Applicable,4,Not Applicable
4,PP_0005,5,91,2,Placed,Howard-Rich,8.19,4,2024-10-27
5,PP_0006,6,61,1,Unplaced,Not Applicable,Not Applicable,5,Not Applicable
6,PP_0007,7,79,1,Unplaced,Not Applicable,Not Applicable,5,Not Applicable
7,PP_0008,8,95,0,Placed,Sanchez Ltd,16.85,1,2024-08-15
8,PP_0009,9,88,0,Placed,Davis-Decker,12.45,5,2024-10-14
9,PP_0010,10,93,2,Unplaced,Not Applicable,Not Applicable,1,Not Applicable
10,PP_0011,11,72,2,Placed,"Clark, Bailey and Roach",12.38,3,2024-10-23
11,PP_0012,12,96,0,Unplaced,Not Applicable,Not Applicable,5,Not Applicable
12,PP_0013,13,87,1,Placed,Hubbard-Jackson,15.54,1,2025-03-11
13,PP_0014,14,89,0,Placed,Scott Inc,10.1,5,2024-06-19
14,PP_0015,15,88,1,Unplaced,Not Applicable,Not Applicable,0,Not Applicable
15,PP_0016,16,79,2,Unplaced,Not Applicable,Not Applicable,4,Not Applicable
16,PP_0017,17,64,0,Unplaced,Not Applicable,Not Applicable,2,Not Applicable
17,PP_0018,18,73,2,Placed,"Davis, Gibbs and Gomez",17.9,3,2025-06-08
18,PP_0019,19,63,1,Placed,Decker-Vaughn,14.22,3,2024-10-17
19,PP_0020,20,80,0,Unplaced,Not Applicable,Not Applicable,1,Not Applicable
20,PP_0021,21,78,2,Unplaced,Not Applicable,Not Applicable,0,Not Applicable
21,PP_0022,22,98,0,Unplaced,Not Applicable,Not Applicable,3,Not Applicable
22,PP_0023,23,62,0,Placed,"Garza, Montgomery and Khan",5.64,1,2025-01-21
23,PP_0024,24,65,2,Placed,Tanner-Lucas,16.28,3,2024-07-01
24,PP_0025,25,95,1,Unplaced,Not Applicable,Not Applicable,2,Not Applicable

# CONNECTING WITH SQL

In [6]:
import sqlite3
class CampusPlacementsdb:
    def __init__(self,db_name = 'Campus_Placements.db'):
        self.conn = sqlite3.connect(db_name)
        self.cursor = self.conn.cursor()
    
    def create_table(self):
        self.cursor.execute('''
        CREATE TABLE IF NOT EXISTS STUDENTS_TABLE(
        Student_ID INTEGER PRIMARY KEY,
        Name TEXT,
        Age INTEGER,
        Gender TEXT,
        Email TEXT,
        Phone TEXT,
        Enrollment_year INTEGER,
        Course_Batch INTEGER,
        Graduation_Year INTEGER,
        CGPA FLOAT,
        Attandance INTEGER )
        ''')
        
        self.cursor.execute('''
        CREATE TABLE IF NOT EXISTS PROGRAMMING_TABLE(
        Programming_ID TEXT PRIMARY KEY,
        Student_ID INTEGER,
        Language TEXT,
        Problems_solved INTEGER,
        Assessments_completed INTEGER,
        Mini_Projects INTEGER,
        Quiz_Score FLOAT,
        FOREIGN KEY (Student_ID) REFERENCES STUDENTS_TABLE(Student_ID))
        ''')
        
        self.cursor.execute('''
        CREATE TABLE IF NOT EXISTS SOFT_SKILLS_TABLE(
        Soft_Skill_ID TEXT PRIMARY KEY,
        Student_ID INTEGER,
        Communication INTEGER,
        Team_Work INTEGER,
        Presentation INTEGER,
        Leadership INTEGER,
        Critical_Thinking INTEGER,
        Interpersonal_Skills INTEGER,
        FOREIGN KEY (Student_ID) REFERENCES STUDENTS_TABLE(Student_ID))
        ''')
        
        self.cursor.execute('''
        CREATE TABLE IF NOT EXISTS PLACEMENTS_TABLE(
        Placement_ID TEXT PRIMARY KEY,
        Student_ID INTEGER,
        Mock_Interview_Score INTEGER,
        Internships_Completed INTEGER,
        Placement_Status TEXT,
        Company_Name TEXT,
        Placement_Package_INR_LPA TEXT,
        Inteview_rounds_cleared TEXT,
        Placement_date DATE,
        FOREIGN KEY (Student_ID) REFERENCES STUDENTS_TABLE(Student_ID))
        ''')
        
        self.conn.commit()
    
    def insert_data(self,df,table_name):
        df.to_sql(table_name, self.conn, if_exists='replace',index=False)
        print(f"Data inserted into table: {table_name}")
    
    def close(self):
        self.conn.close()

In [7]:
data_base = CampusPlacementsdb()
data_base.create_table()

In [8]:
data_base.insert_data(Students_Table, 'STUDENTS_TABLE')
data_base.insert_data(Programming_Table, 'PROGRAMMING_TABLE')
data_base.insert_data(Soft_Skills_Table, 'SOFT_SKILLS_TABLE')
data_base.insert_data(Placements_Table, 'PLACEMENTS_TABLE')

data_base.close()

Data inserted into table: STUDENTS_TABLE
Data inserted into table: PROGRAMMING_TABLE
Data inserted into table: SOFT_SKILLS_TABLE
Data inserted into table: PLACEMENTS_TABLE